@page "/balance"
@model AddonMoney.WebApp.Pages.Balance.IndexModel
@{
    ViewData["Title"] = "Accounts List";
    string urlParams = $"&PageSize={Model.PageSize}&IdFilter={Model.IdFilter}&NameFilter={Model.NameFilter}&VPSFilter={Model.VPSFilter}";
}

<div class="container">
    <h2>Accounts List</h2>

    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <div class="alert alert-danger" role="alert">
            @Model.Error
        </div>
    }

    <div class="row">
        <div class="col-md-4">
            <form asp-page="/Balance/Index" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search by ID" name="IdFilter" value="@Model.IdFilter" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form asp-page="/Balance/Index" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search by Name" name="NameFilter" value="@Model.NameFilter" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form asp-page="/Balance/Index" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search by Host" name="VPSFilter" value="@Model.VPSFilter" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Host</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Last Balance</th>
                <th>Today Earn</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var balanceInfo in Model.BalanceInfos.Items)
            {
                <tr class="@(balanceInfo.Balance == balanceInfo.LastBalance ? "table-danger" : "")">
                    <td>@balanceInfo.Id</td>
                    <td>@balanceInfo.VPS</td>
                    <td>@balanceInfo.Name</td>
                    <td>@balanceInfo.Balance</td>
                    <td>@balanceInfo.LastBalance</td>
                    <td>@balanceInfo.TodayEarn</td>
                    <td>@balanceInfo.LastUpdate</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @if (Model.PageIndex > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?PageIndex=@(Model.PageIndex - 1)@urlParams">
                                Previous
                            </a>
                        </li>
                    }

                    <li class="page-item active">
                        <a class="page-link" href="#">@Model.PageIndex</a>
                    </li>

                    @if (Model.PageIndex < Model.BalanceInfos.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?PageIndex=@(Model.PageIndex + 1)@urlParams">
                                Next
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
